.about {
  width: 100vw;
  height: calc(100vh - 100px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  position: absolute;
}

.about-bigheader {
  color: black;

  font-size: 86px;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.about-littlecaption {
  color: gray;

  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 5px;
}

.about-littlecaption2 {
  color: gray;

  font-size: 15px;
  font-weight: 300;
  margin: 20px;
}
