.button {
  height: 60px;
  padding: 0 25px;

  display: flex;
  align-items: center;
  flex: auto;

  background-color: var(--white);
  transition: background-color 100ms ease;
  border-radius: 10px;

  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}

.button > svg {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}
