@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

body {
  margin: 0;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --red: #ff2e00;
}

p {
  letter-spacing: -0.5px;
}

.header {
  position: absolute;
  width: 100vw;
  height: 100px;

  display: flex;
  align-items: center;

  padding: 0 100px;

  background-color: gray;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.logo > span {
  color: var(--red);
}
