@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  height: 100%;
  overflow: hidden;
}

:root {
  --red: #ff2e00;
  --white: #fff;
  --gray: #828a99;
  --button-hover: #f0f2f5;
  --line: #e6e8ed;
}

p,
pre {
  letter-spacing: -0.5px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
